body {
  

  background-color: #2E5077;
  text-align: center;
  color: white;
  
}


#myCanvas {
  background-image: url("https://i.pinimg.com/736x/cd/6f/47/cd6f474a85a6163c44ab2ad6dcaf08a0.jpg");
  background-size: 600px;
  border-radius: 30px;
  border: 1px solid rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
  
}

h1 { font-family: "Poller One", serif;
  font-weight: 400;
  font-style: normal;}

h2 {
    font-family: "Poller One", serif;
  font-weight: 400;
  font-style: normal;
}

ol {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}
